/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-position: center;
  background-attachment: fixed;
  font-size: var(--normal-text-size);
  font-weight: var(--regular-weight);
  font-family: var(--text-font-family), sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

.header__theme-menu{
  padding-top: 58px;
  margin-left: auto;
  width: 70px;
}

.header__theme-menu-list{
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.header__theme-menu-button{
  block-size: 100%;
  inline-size: 100%;
  background-color: transparent;
  color: var(--accent-color);
  line-height: 22px;
  border: 0;
  font-family: var(--text-font-family);
  font-size: var(--normal-text-size);
}

.header__theme-menu-button_type_auto{
  border: 1px solid var(--accent-color);
}

.header-title{
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin: 69px 0 0 0;
}

.title-decor{
  background-color: var(--accent-color);
  font-weight: var(--bold-weight);
  color: var(--title-decor-text-color);
}

.header-text{
  margin: 55px 0 0 0;
}

.header{
  padding: 0 10px 66px 10px;
  position: relative;
}

.record{
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--accent-color);
  display: flex;
  gap: 2.96px;
}

.record-top-right-corner{
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-top-right-corner::after{
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header-bottom-left-corner{
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.main{
  background-color: var(--background-color);
  padding: 40px 10px 0 10px;
}

.section{
  display: grid;
  row-gap: 10px;
  margin-top: 48px;
}

.section:nth-child(1){
  margin-top: 0;
}

.section-title{
  grid-column: 1;
  color: var(--accent-color);
  font-weight: var(--bold-weight);
  font-size: 18px;
  margin: 0;
}

.section-subtitle{
  grid-column: 1;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 0;
}

.section-text{
  grid-column: 1;
  margin: 0;
  color: var(--text-color);
  line-height: 23.36px;
}

.accent-text{
  text-shadow: 2px 2px 0 var(--accent-color);
}

.advice-list{
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-top: 0;
  display: grid;
  row-gap: 10px;
}

.advice-title{
  margin: 0;
  margin-top: 10px;
}

.advice-text{
  margin: 0;
  line-height: 23.45px;
  margin-top: 10px;
}

.fourth-section-subtitle{
  margin: 0;
}

.fourth-section{
  margin-top: 31px;
}

.gallery-image{
  width: 100%;
}

.gallery{
  display: grid;
  row-gap: 10px;
  padding-bottom: 40px;
}

.footer-title {
  line-height: 0;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  padding: 257px 0; 
  text-align: center;
  color: var(--h1-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.footer {
  background-color: var(--background-color);
  position: relative;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.footer-top-right-corner{
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  position: absolute;
  right: 10px;
  top: 10px;
}

.footer-bottom-left-corner{
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
  position: absolute;
}