/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root{
  --bold-weight: bold;
  --regular-weight: normal;
  --normal-text-size: 18px;
  --text-font-family: 'IBM Plex mono';
  --accent-color: #FF0070;
  --h1-color: #DB00FF;
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000028;
  --title-decor-text-color: #000028;
  --text-color: #F1B2CE;
}